body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.footer-studio {
  color: #f4f4fd;
}

/* NAV */
.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* CONTACTS */
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}

/* HERO */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* TITLES */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

/* FEATURES */
.features-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* TEAM & PORTFOLIO */
.team {
  background-color: #f4f4fd;
}

.team-name,
.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.team ul li {
  background-color: #ffffff;
}

.team-name,
.team-position {
  text-align: center;
}
.portfolio-text {
  text-align: left;
}
.team-position,
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* FOOTER */
.footer {
  background-color: #2e2f42;
  color: #e1e1f3;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
